{% extends 'base.html' %}

{% block title %} Delete {% endblock %}

{% block body %}

<form method="POST">
    {% csrf_token %}
     <h1>Realmente deseja deletar?</h1>
    <button>Sim</button>
   <a href="{% url 'list' %}">Não</a>
</form>

{% endblock %}