{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block body %}

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
    </tr>
    </thead>

    <tbody>

   {% for pessoa in pessoa %}
    <tr>
        <th></th>
      <td> <a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td><a href ="{% url 'delete' pessoa.id %}">Deletar</a></td>
        <td><a href="{% url 'create' %}">Criar Usuário</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}